/* --____________ to display flex ____________--> */
.dis-flex {
    display: flex !important;
}
.flex-direction-row{
    flex-direction: row;
}
.flex-direction-column{
    flex-direction: column !important;
}
.flex-wrap{
    flex-wrap: wrap;
}
.align-items-center {
    align-items: center !important; 
}
.align-items-start {
    align-items: flex-start !important;
}
.align-items-end{
    align-items: flex-end !important;
}
.justify-content-center {
    justify-content: center !important;
}
.justify-content-space-between {
    justify-content: space-between !important;
}
.justify-content-space-around {
    justify-content: space-around !important;
}
.justify-content-space-evenly{
    justify-content: space-evenly;
}
.justify-content-flex-start {
    justify-content: flex-start !important;
}
.justify-content-flex-end {
    justify-content: flex-end !important;
}
.align-content-start{
    align-content: start;
}
.align-content-end{
    align-content: end;
}
.fexed-top{
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
}
.position-relative {
    position: relative !important;
}
.position-absolute{
    position: absolute !important;
}

/* --____________ fonts ____________--> */
.font-raleway{
    font-family: "Raleway", sans-serif !important;
}
.font-roboto{
    font-family: "Roboto", system-ui !important;
}
/* .font-poppins{
    font-family: ;
} */
.font-size-10px{
    font-size: 10px !important;
}
.font-size-12px{
    font-size: 12px !important;
}
.font-size-13px{
    font-size: 13px !important;
}
.font-size-14px{
    font-size: 14px !important;
}
.font-size-15px{
    font-size: 15px !important;
}
.font-size-16px{
    font-size: 16px !important;
}
.font-size-17px{
    font-size: 17px !important;
}
.font-size-18px{
    font-size: 18px !important;
}
.font-size-20px{
    font-size: 20px !important;
}
.font-size-22px{
    font-size: 22px !important; 
}
.font-size-23px{
    font-size: 23px !important; 
}
.font-size-24px{
    font-size: 24px !important; 
}
.font-size-25px{
    font-size: 25px !important;
}
.font-size-26px{
    font-size: 26px !important;
}
.font-size-28px{
    font-size: 28px !important;
}
.font-size-30px{
    font-size: 30px !important;
}
.font-size-32px{
    font-size: 32px !important;
}
.font-size-34px{
    font-size: 34px !important;
}
.font-size-35px{
    font-size: 35px !important;
}
.font-size-40px{
    font-size: 40px !important;
}
.font-size-48px{
    font-size: 48px !important;
}
.font-size-50px{
    font-size: 50px !important;
}
.font-bold{
    font-weight: bold !important;
}
.font-waight-100{
    font-weight: 100;
}
.font-waight-400{
    font-weight: 400;
}
.font-italic{
    font-style: italic;
}
.text-trasform-capitalize{
    text-transform: capitalize !important;
}
.text-trasform-uppercase{
    text-transform: uppercase !important;
}
.text-trasform-none{
    text-transform: none !important;
}
.text-ling-through{
    text-decoration: line-through;
}
.text-align-center{
    text-align: center !important;
}
.word-spacing-5px{
    word-spacing: 5px !important;
}
.ward-spacing-2px{
    word-spacing: 2px !important;
}
.line-height-1point5{
    line-height: 1.5 !important;
}
.letter-spacing-1px{
    letter-spacing: 1px !important;
}
.letter-spacing-point5px{
    letter-spacing: .5px !important;
}
.margin-top-6px{
    margin-top: 6px !important; 
}
.margin-top-16px{
    margin-top: 16px !important;
}
.margin-top-40px{
    margin-top: 40px !important;
}
.margin-bottom-5px{
    margin-bottom: 5px !important; 
}
.margin-bottom-8px{
    margin-bottom: 8px !important;
}
.margin-bottom-16px{
    margin-bottom: 16px !important;
}
.margin-bottom-25px{
    margin-bottom: 25px !important;
}
.margin-bottom-40px{
    margin-top: -40px !important;
}
.margin-left-20px{
    margin-left: 20px !important;
}
.margin-left-5px{
    margin-left: 5px !important;
}
.padding-top-16px{
    padding-top: 16px !important;
}
.padding-top-24px{
    padding-top: 24px !important;
}
.border-top-1px{
    border-top: 1px solid color-mix(in srgb, #ffffff, transparent 90%) !important;
}
.padding-right-0{
    padding-right: 0px !important;
}
.padding-top-bot-10px{
    padding: 10px 0px !important;
}
.padding-bot-10px{
    padding-bottom: 10px !important;
}
.border-1px{
    border: 1px solid color-mix(in srgb, #ffffff, transparent 50%);
}
/* --____________ colors ____________--> */
.color__ffbb2c{
    color: #ffbb2c;
}
.color__5578ff{
    color: #5578ff;
}
.color__e80368{
    color: #e80368;
}
.color__e361ff{
    color: #e361ff;
}
.color__47aeff{
    color: #47aeff;
}
.color__ffa76e{
    color: #ffa76e;
}
.color__11dbcf{
    color: #11dbcf;
}
.color__4233ff{
    color: #4233ff;
}
.color__b2904f{
    color: #b2904f;
}
.color__b20969{
    color: #b20969;
}
.color__ff5828{
    color: #ff5828;
}
.color__29cc61{
    color: #29cc61;
}
.color__1acc8d{
    color: #1acc8d;
}
.color__ffc107{
    color: #ffc107;
}
.color-span-pricing-30{
    color: color-mix(in srgb, #444444, transparent 30%);;
}
.color-span-pricing-50{
    color: color-mix(in srgb, #444444, transparent 50%);;
}
.color-span-pricing-60{
    color: color-mix(in srgb, #444444, transparent 60%);;
}
.color-444444{
    color: #444444;
}
.color-040677{
    color: #040677;
}
.color-ffffff{
    color: #ffffff;
}
.color-white-pricing-30{
    color: color-mix(in srgb, #ffffff, transparent 30%);
}