* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}

:root {
    --default-font: "Roboto", system-ui;
    --heading-font: "Raleway", sans-serif;
    --nav-font: "Poppins", sans-serif;
}
/* -- format all uls --> */
ul {
    list-style: none;
    font-family: var(--nav-font);
    font-size: 15px;
}
/* -- format all links --> */
a {
    text-decoration: none;
    color: #fff;
}
header {
    padding: 20px 0px;
    width: 100%;
    background-color: #10058c;
}

.nav {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;

}
/* -- format under line of nav li --> */
.nav__link::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 22px;
    top: 25px;
    left: 0;
    background-color: #1acc8d;
}

a>h1 {
    font-size: 30px !important;
    font-family: var(--heading-font);
    font-weight: 700;
    text-align: center !important;
    align-content: center !important;
}


li {
    margin: 10px;
    position: relative;
}
.deep__drop {
    overflow: hidden;
}